In [1]:
import requests
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("weather_data.csv")

In [3]:
df

,date,astronomy,maxtempC,maxtempF,mintempC,mintempF,avgtempC,avgtempF,totalSnow_cm,sunHour,uvIndex,hourly
0,2019-01-01,"[{'sunrise': '09:44 AM', 'sunset': '06:04 PM',...",9,48,7,45,8,46,0.0,3.2,2,"[{'time': '24', 'tempC': '9', 'tempF': '48', '..."
1,2019-01-02,"[{'sunrise': '09:44 AM', 'sunset': '06:05 PM',...",8,46,4,39,5,42,0.0,8.6,3,"[{'time': '24', 'tempC': '8', 'tempF': '46', '..."
2,2019-01-03,"[{'sunrise': '09:44 AM', 'sunset': '06:06 PM',...",7,44,2,35,4,39,0.0,8.6,2,"[{'time': '24', 'tempC': '7', 'tempF': '44', '..."
3,2019-01-04,"[{'sunrise': '09:44 AM', 'sunset': '06:07 PM',...",5,41,0,32,3,37,0.0,5.1,1,"[{'time': '24', 'tempC': '5', 'tempF': '41', '..."
4,2019-01-05,"[{'sunrise': '09:44 AM', 'sunset': '06:08 PM',...",6,43,2,35,4,39,0.0,5.1,1,"[{'time': '24', 'tempC': '6', 'tempF': '43', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2022-12-27,"[{'sunrise': '09:44 AM', 'sunset': '06:00 PM',...",7,45,3,38,5,41,0.0,6.9,2,"[{'time': '24', 'tempC': '7', 'tempF': '45', '..."
1457,2022-12-28,"[{'sunrise': '09:44 AM', 'sunset': '06:01 PM',...",11,53,7,45,9,49,0.0,3.2,2,"[{'time': '24', 'tempC': '11', 'tempF': '53', ..."
1458,2022-12-29,"[{'sunrise': '09:44 AM', 'sunset': '06:01 PM',...",12,53,8,46,10,51,0.0,5.0,3,"[{'time': '24', 'tempC': '12', 'tempF': '53', ..."
1459,2022-12-30,"[{'sunrise': '09:44 AM', 'sunset': '06:02 PM',...",15,59,6,43,10,50,0.0,3.2,2,"[{'time': '24', 'tempC': '15', 'tempF': '59', ..."
1460,2022-12-31,"[{'sunrise': '09:44 AM', 'sunset': '06:03 PM',...",17,62,14,57,15,60,0.0,8.6,4,"[{'time': '24', 'tempC': '17', 'tempF': '62', ..."

In [10]:
import pandas as pd

# Chargement du fichier CSV
df = pd.read_csv("weather_data.csv")

# Suppression des colonnes "col1" et "col2"
df = df.drop(["astronomy", "maxtempC", "mintempC", "mintempF","maxtempF", "avgtempF", "totalSnow_cm", "sunHour", "uvIndex", "hourly"], axis=1)

# Renommer la colonne
df = df.rename(columns={"avgtempC": "temperature_moyenne_Â°C"})

# Enregistrement du DataFrame dans un nouveau fichier CSV
df.to_csv("temp_paris.csv", index=False)

In [11]:
df

            date  temperature_moyenne_Â°C
0     2019-01-01                       8
1     2019-01-02                       5
2     2019-01-03                       4
3     2019-01-04                       3
4     2019-01-05                       4
...          ...                     ...
1456  2022-12-27                       5
1457  2022-12-28                       9
1458  2022-12-29                      10
1459  2022-12-30                      10
1460  2022-12-31                      15

[1461 rows x 2 columns]